{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template lytix_config/learners_corner

  Lytix Activity Widget

  This widget renders two graphs:
  * a line chart showing how much time has been spent each day with a certain activity
  * a stacked bar chart comparing median times (just like Timeoverview)

  Classes required for JS:
  * lytix_activity/activity

  Context variables required for this template:
  See example below.

  Example context (json):
  {
     "contextid": 0,
     "courseid": 0,
     "userid": 0,
     "isstudent": true
  }
}}

<div id='activity' class='widget'>

    <h4>{{#str}} title, lytix_activity {{/str}}</h4>

    <div class='p-3'>
        <form class='d-flex justify-content-between'>
            <fieldset id='activity-chart-chooser' class='flex-shrink-1 mr-3'>
                <label class='mb-0 mr-2'>
                    <input id='show-bar-chart' type='radio' name='chart-type' value='bar-charts' checked/>&nbsp;{{#str}} overall_time, lytix_activity {{/str}}
                </label>
                <label class='mb-0'>
                    <input id='show-line-graph' type='radio' name='chart-type' value='line-graph'/>&nbsp;{{#str}} time_per_day, lytix_activity {{/str}}
                </label>
            </fieldset>
            <fieldset class='flex-shrink-0 text-right custom-control custom-switch'>
                <input id='show-others' type='checkbox' class='custom-control-input'/>
                <label for='show-others' class='custom-control-label'>{{#str}} show_others, lytix_activity {{/str}}</label>
            </fieldset>
        </form>

        <hr/>

        <div id='activity-line-graph' class='d-none'>
            <p>
                <select id="activitygraph_selectbox">
                    <option value="_all">{{#str}} all, lytix_activity {{/str}}</option>
                    <option value="_core">{{#str}} core, lytix_activity {{/str}}</option>
                    <option value="_forum">{{#str}} forum, lytix_activity {{/str}}</option>
                    <option value="_grade">{{#str}} grade, lytix_activity {{/str}}</option>
                    <option value="_submission">{{#str}} submission, lytix_activity {{/str}}</option>
                    <option value="_resource">{{#str}} resource, lytix_activity {{/str}}</option>
                    <option value="_quiz">{{#str}} quiz, lytix_activity {{/str}}</option>
                    <option value="_bbb">{{#str}} bbb, lytix_activity {{/str}}</option>
                </select>
            </p>

            <div id="activitygraph_sum" class="text-right"></div>

            <div id="activitygraph_widget"></div>
        </div>

        <div id='activity-bar-charts'>
            <div class='me'></div>
            <div class='others mt-4 d-none'></div>
        </div>

    </div>

</div>

{{#js}}
    require(['lytix_activity/activity'], function(m) {
        m.init({{contextid}}, {{courseid}}, {{userid}}, {{isstudent}});
    });
{{/js}}
